{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{ article.title }} | weblog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'weblog/css/article_page.css' %}" />
{% endblock %}

{% block left_column %}
<!-- Article Widget -->
<div class="widget">
    <div class="widget-container">
        <div class="widget-title">ARTICLE</div>
        <div class="widget-bar"></div>
        
        <div class="article-header">
            <h1 class="article-title-main">{{ article.title }}</h1>
            <div class="article-meta-main">
                <span>{{ article.published_at|date:"F j, Y" }}</span>
                <span class="meta-separator">|</span>
                <span>{{ article.get_word_count }} words</span>
                <span class="meta-separator">|</span>
                <span>{{ article.get_reading_time }} minute{{ article.get_reading_time|pluralize }}</span>
            </div>
        </div>
        
        <div class="article-body">
            {{ article.get_body_html|safe }}
        </div>
    </div>
</div>

<!-- Comments Widget -->
<div class="widget">
    <div class="widget-container">
        <div class="comments-header">
            <div class="widget-title">COMMENT SECTION</div>
            <div class="comments-count">({{ comments.count }})</div>
        </div>
        <div class="widget-bar"></div>
        
        {% if comments %}
        <div class="comments-list" id="comments-list">
                {% for comment in comments %}
                <div class="comment-item">
                    <div class="comment-time">[ {{ comment.created_at|date:"j M. Y | H:i" }} ]</div>
                    <div class="comment-content">
                        <span class="comment-author">{{ comment.nickname }} :</span>
                        <span class="comment-text">{{ comment.body }}</span>
                    </div>
                </div>
                {% endfor %}
        </div>
        {% endif %}
        
        <form method="post" action="">
            {% csrf_token %}
            <div class="comment-input-container">
                <textarea 
                    class="comment-input" 
                    name="body"
                    placeholder="Leave your based take..." 
                    id="comment-input"
                    required
                    maxlength="1000"></textarea>
                <div class="comment-bottom">
                    <input 
                        type="text" 
                        class="comment-nickname-input" 
                        name="nickname"
                        placeholder="Nickname (anonymous by default)" 
                        id="comment-nickname-input"
                        maxlength="64">
                    <button type="submit" class="comment-button" id="comment-button">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}